.conclusion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    //background-image: url(/assets/img/purpleBackground.jpg);
    
    background-image: url(/assets/img/purpleBuble.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 360px;
}

.textBoxConclusion1 {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 30px;
    margin: 100px 30px 100px 30px;
    background-color: white;
    border: solid 5px black;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.imgConclusion{
    width: 36vh;
    min-height: 20vh;
}
.conclusion p{
    color: black;
}


@media screen and (min-width:560px) {
    .textBoxConclusion1{
       
    }
    
}
@media screen and (max-width:760px) {
    .imgDifficulte {
        max-width: 20vh;
        max-height: 26vh;
    }
}
@media screen and (min-width:1080px) {
    .conclusion{
        flex-direction: row;
        
        
    }
    .textBoxConclusion1{
        margin:0;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
}