.footerPrincipal{
    display: flex;
    background-image: linear-gradient(to right, #667eea, #764ba2);
    // position:absolute;
    // left:0;
    // bottom:0;
    // right:0;
    min-height: 100px;
    width: 100%;
}