.sectionHome{
    display: flex;
    flex-direction: column;
    background-image: url(/assets/img/purpleBuble.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #9D19C4;
    padding: 0 10px 100px 10px;
}
.divTodoContainer{
    background-color: black;
}
.todo_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.todo_background{
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-image: url(/assets/img/backgroundForm.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
    
}
.todoFiltre{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.filtre{
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-image: url(/assets/img/woodBlock.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 200px;
    color:white;

    margin-right: 5px;
}
.tachesH1{
    color: white;
    border: solid;
}
.buttonApp{
    width: 100%;
    padding: 20px 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (min-width: 760px) {
    .todoFiltre{
        flex-direction: row;
        justify-content: center;
    }
    .todo_background{
        margin-bottom: 80px;
    }
}