.sectionHome{
    display: flex;
    flex-direction: column;
    background-image: url(/assets/img/purpleBuble.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #9D19C4;
    padding: 0 10px 100px 10px;
}
.todo_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.todo_background{
    display: flex;
    flex-direction: column;
    /* max-width: 865px; */
    /* background-color: black; */
    border-radius: 1em;
    //background: linear-gradient(to bottom, #3498db, #9b59b6, #e74c3c, #f1c40f);
    background-image: url(/assets/img/backgroundForm.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    //background: linear-gradient(to bottom, #9b59b6, #9b59b6, #9b59b6, #9b59b6ac);
}
.todoFiltre{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    
    
}
.filtre{
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-image: url(/assets/img/woodBlock.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 200px;
    color:white;

    margin-right: 5px;
}

@media screen and (max-width: 759px) {
    .filtre{
        padding: 20px 80px;
    }
}
@media screen and (min-width: 760px) {
    .todoFiltre{
        flex-direction: row;
        justify-content: center;
    }
}