.sectionHome{
    display: flex;
    flex-direction: column;
    background-image: url(/assets/img/imgBackgroundTodoApp.png);
    
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}