.intro{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/assets/img/backgroundIntro.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 360px;

}
h2{
    margin-bottom: 20px;
}
.introPresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.introImagesSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imgIntro{
        width: 10vh;
        height: 10vh;
        padding-top: 20px;
        padding-bottom: 20px;
}

@media screen and (min-width:560px) {
    .intro{
        flex-direction: row;
        justify-content: space-around;
    }
}
