.todo {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 10px;
    // background-color: white;
    // box-shadow: 0 0 5px lightgray;
    // border-radius: 5px;
    margin: 40px 0;
  }
  
  
//   .list {
//     width: 70%;
//     padding: 10px;
//     border: none;
//     font-size: 18px;
//     outline: none;
//     //text-decoration: ${props => (props.completed ? "line-through" : "none")};
//   }
  
//   .button-complete {
//     width: 10%;
//     background-color: lightgray;
//     border: none;
//     border-radius: 5px;
//     outline: none;
//     cursor: pointer;
//   }
  
//   .button-edit {
//     width: 10%;
//     background-color: lightgray;
//     border: none;
//     border-radius: 5px;
//     outline: none;
//     cursor: pointer;
//     margin-left: 10px;
//   }
  
//   .delete {
//     width: 10%;
//     background-color: lightgray;
//     border: none;
//     border-radius: 5px;
//     outline: none;
//     cursor: pointer;
//     margin-left: 10px;
//   }
  
//   i {
//     font-size: 18px;
//     color: white;
//   }