@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  
  background-color: #9D19C4;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1, h2, h3, h4, h5, h6, p, li, input, textarea {
  font-family: 'Roboto', sans-serif;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
